<div class="wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
  <button class="rt-btn-primary rt-btn-lg" (click)="switchTheme()" style="position: fixed; top: 0; left: 20px; z-index: 100;">Switch Theme</button>
    <div fxLayout="row" fxLayoutGap="15px">
      <button class="rt-btn-primary rt-btn-sm">Primary</button>
      <button class="rt-btn-secondary rt-btn-sm" fxLayout="row"><mat-icon>mic</mat-icon><span>Secondary</span></button>
      <button class="rt-btn-tertiary rt-btn-lg">Tertiary</button>
      <button class="rt-btn-disable rt-btn-lg">Disable</button>
    </div>


    <mat-accordion class="rt-mat-accordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>isible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible bec</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>isible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible bec</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>isible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible bec</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>isible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible bec</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>isible because I am openI'm visible because I am openI'm visible because I am openI'm visible because I am openI'm visible bec</p>
      </mat-expansion-panel>
  </mat-accordion>


  <rt-tabs [buttonList]="exampleInput" [defaultSelection]="selectedVal" (changeToggle)="changeToggle($event)"></rt-tabs>

</div>
