$mat-theme-ignore-duplication-warnings: true;

@import '../projects/rt-style/styles/index.scss';

@include scrollbars(3px, $_01_C_Sky_Light);

html, body { height: 100%; }
html,
body {
  height: 100%;
}

body {
  background-color: var(--color-page-background);
  color: var(--color-text);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

